## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [36]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [37]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
exam_df = pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
print(exam_df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [9]:
print(exam_df.loc[(exam_df['attempts'] < 2) & (exam_df['score'] > 15.0)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

## Exerise 3: Change the value in row 'd' to 11.5
##### Use Data from previous questions

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [29]:
print("Original data frame: \n", exam_df)
exam_df['score']['d'] = 11.5
print("Change the score in row 'd' to 11.5: \n", exam_df)

Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Change the score in row 'd' to 11.5:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

C:\Users\SarathBabuMallam\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students.
data: d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for colum1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

In [50]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
data = pd.DataFrame(d)
print("Original DataFrame:\n",data)
rows = input("Rows for col1 value ==")
print(data[data['col1'] == 4])

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for col1 value ==4
   col1  col2  col3
1     4     5     8
3     4     7     0

## Exercise 5: Drop a list of rows from a specified DataFrame
###### data: 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

In [40]:
d1 = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
data1 = pd.DataFrame(d1)
print("Original DataFrame:\n",data1)
data1 = data1.drop([2,4])
print("OriginalNew DataFrame after removing 2nd & 4th rows:\n",data1)

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
OriginalNew DataFrame after removing 2nd & 4th rows:
    col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 6:  Check whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.

In [49]:
d2 = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
data2 = pd.DataFrame(d2)
print("Original DataFrame:\n",data2)
col = input("Enter the column:::")
if col in data2.columns:
    print("{} is present is the DataFrame".format(col))
else:
    print("{} is not present in the DataFrame".format(col))

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Enter the column:::col4
col4 is not present in the DataFrame

## Exercise 7: Get column index from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'
1

In [61]:
d7 = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
data7 = pd.DataFrame(d7)
print("Original DataFrame:\n",data7)
col7 = input("Enter the column::")
if col7 in data7.columns:
    print("Index of {}::".format(col7),data7.columns.get_loc(col7))
else:
    print("{} in not present in the DataFrame".format(col7))

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Enter the column::col2
Index of col2:: 1

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

In [67]:
d8 = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
data8 = pd.DataFrame(d8)
print("Original DataFrame:\n",data8)
col8 = input("Enter the column::")
if col8 in data8.columns:
    print("All columns except {}::\n".format(col8),data8.drop([col8],axis=1))
    
else:
    print("{} in not present in the DataFrame\n".format(col8))

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Enter the column::col3
All columns except col3::
    col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

In [84]:
d9 = {'col1': [1, 2, 3, 4, 7,11], 'col2': [4, 5, 6, 9, 5,0], 'col3': [7, 5, 8, 12, 1, 11]}
data9 = pd.DataFrame(d9)
print("Original DataFrame:\n",data9)
rows = int(input("Enter the number of last rows to remove::"))
print("After removing last {} rows of the said DataFrame\n".format(rows),data9.iloc[:-rows])

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
Enter the number of last rows to remove::3
After removing last 3 rows of the said DataFrame
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes

List of movies longer than 30 minutes and shorter than 360 minutes:
                                       Title  Runtime (Minutes)
0                    Guardians of the Galaxy                121
1                                 Prometheus                124
2                                      Split                117
3                                       Sing                108
4                              Suicide Squad                123
5                             The Great Wall                103
6                                 La La Land                128
7                                   Mindhorn                 89
8                         The Lost City of Z                141
9                                 Passengers                116
10   Fantastic Beasts and Where to Find Them                133
11                            Hidden Figures                127
12                                 Rogue One                133
13                                     Moana                107
14                                  Colossal                109
15                   The Secret Life of Pets                 87
16                             Hacksaw Ridge                139
17                              Jason Bourne                123
18                                      Lion                118
19                                   Arrival                116
20                                      Gold                120
21                     Manchester by the Sea                137
22                            Hounds of Love                108
23                                    Trolls                 92
24              Independence Day: Resurgence                120
25                           Paris pieds nus                 83
26                   Bahubali: The Beginning                159
27                                Dead Awake                 99
28                                  Bad Moms                100
29                          Assassin's Creed                115
..                                       ...                ...
970                        Texas Chainsaw 3D                 92
971                                Disturbia                105
972                             Rock of Ages                123
973                                 Scream 4                111
974                           Queen of Katwe                124
975               My Big Fat Greek Wedding 2                 94
976                              Dark Places                113
977                            Amateur Night                 92
978           It's Only the End of the World                 97
979                       The Skin I Live In                120
980                     Miracles from Heaven                109
981                                    Annie                118
982                      Across the Universe                133
983                            Let's Be Cops                104
984                                      Max                111
985                            Your Highness                102
986                      Final Destination 5                 92
987                             Endless Love                104
988                                  Martyrs                 99
989                                    Selma                128
990           Underworld: Rise of the Lycans                 92
991                         Taare Zameen Par                165
992                     Take Me Home Tonight                 97
993                 Resident Evil: Afterlife                 97
994                                Project X                 88
995                     Secret in Their Eyes                111
996                          Hostel: Part II                 94
997                   Step Up 2: The Streets                 98
998                             Search Party                 93
999                               Nine Lives                 87

[1000 rows x 2 columns]

In [103]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv",index_col="Title")

In [106]:
movies_df = movies_df.loc[(movies_df['Runtime (Minutes)'] > 30) & (movies_df['Runtime (Minutes)'] < 360)]

In [120]:
print(movies_df.loc[:,['Runtime (Minutes)']])

                         Runtime (Minutes)
Title
Guardians of the Galaxy                121
Prometheus                             124
Split                                  117
Sing                                   108
Suicide Squad                          123
...                                    ...
Secret in Their Eyes                   111
Hostel: Part II                         94
Step Up 2: The Streets                  98
Search Party                            93
Nine Lives                              87

[1000 rows x 1 columns]